/* ================= */
/* Tailwind          */
/* ================= */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------- */
/* TWD Configuration */
/* ----------------- */
@layer base {
    html {
        font-family: 'Kaisei Tokumin', serif;
    }
}

/* ================= */
/* Utilities         */
/* ================= */

/* ----------------- */
/* Hide scrollbar    */
/* ----------------- */
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* ================= */
/* Clarinet          */
/* ================= */
.clarinet {
    position: fixed;
    z-index: -1;
    perspective: 100vh;
}

.clarinet img {
    max-height: 100%;
    width: auto;
}

.clarinet-1 {
    top: 0;
    left: 25vw;
    height: 50vh;
    width: auto;

    transform: rotateX(45deg) rotateZ(15deg) translateY(-200%);
}

.clarinet-2 {
    top: 0;
    right: 20vw;
    height: 50vh;
    width: auto;

    transform: rotateX(45deg) rotateZ(-15deg) translateY(-200%);
}

.clarinet::before {
    content: '';
    width: 800px;
    height: 800px;
    pointer-events: none;
    position: absolute;
    z-index: -2;
    display: block;
    background: radial-gradient(circle, rgba(238, 174, 202, 0.5) 0%, rgba(0, 0, 0, 1) 60%);
}

.clarinet-1::before {
    transform: translate(-40%, -30%);
}

.clarinet-2::before {
    transform: translate(-40%, -30%);
}

/* ================= */
/* Text transform    */
/* ================= */
#main p {
    font-weight: 500;
    font-size: 40px;
    transform: scale(1, 4);
    padding-bottom: 80px;
}

/* ================= */
/* Animation         */
/* ================= */
:root {
    --blink: 2s;
}

@keyframes shining {
    100% {
        color: rgb(173, 179, 112);
    }

    83.3% {
        color: rgb(84, 94, 205);
    }

    66.6% {
        color: rgb(184, 122, 122);
    }

    50% {
        color: rgb(24, 120, 91);
    }

    33.2% {
        color: rgb(160, 98, 198);
    }

    16.6% {
        color: rgb(48, 148, 96);
    }
}

#main p {
    animation: shining var(--blink) steps(7) infinite;
    text-shadow: 0px 1.1px rgb(52 52 52);
}
